#Fichiers inutiles de windows, mac et linux
*.db
.DS_Store
*~
._*

# fichiers pouvant contenir des configs
/.htaccess
/application/config/config.php
/application/config/database.php
/application/logs
/application/cache

/12parfait.sql
/12parfait_data.sql
/12parfait_structure.sql
/12parfait_update.sql