body {
    /* background-color: #D4EE9F; */
    /* background-color: #669999; */
    padding: 20px;
}
* {
    font-size: 20px;
}
p {
    max-height: 999999px;
}
[disabled]{
    cursor: not-allowed;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
input.score {
    width: 35px;
    text-align: center;
}
a {
    display: inline-block;
    margin: 10px 20px;
    /* color: #003333; */
}
a:hover {
    /* color: #FFFFFF; */
}
table {
    margin: 20px;
    /* background-color: #226666; */
    /* background-color: #407F7F; */
    /* color: #99CCCC; */
}
th, td {
    padding: 5px 10px;
}
td.date {
    text-align: center;
    padding-top: 20px;
}
tr:first-of-type td.date {
    padding-top: 0;
}
td.team1_name {
    text-align: right;
    padding-right: 10px;
}
td.team2_name {
    text-align: left;
    padding-left: 10px;
}
td.dash {
    padding: 0 5px;
}
.info {
    font-size: 14px;
    font-style: italic;
    color: #555555;
}
.home-table {
    display: inline-block;
    vertical-align: top;
}
.home-logo {
    margin-bottom: 20px;
}
.home-logo img {
    width: 75px;
}