/** RESET **/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: rgb(195, 209, 220);
    background-color: rgba(2, 117, 216, 0.25);
}
* {
    box-sizing: border-box;
}
section, main, header, aside, menu, footer {
    display: block;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}
a img {
    border: 0;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.7em;
    font-size: 1em;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1em; }
p {
    margin: 1em 0;
}



/** COMMON **/
.boxed {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.main-container {
    padding: 40px;
    background-color: #FFFFFF;
}
p, ul, li {
    max-height: 999999px;
}
[disabled]{
    cursor: not-allowed;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
a {
    display: inline-block;
    color: inherit;
}
ul.horizontal li {
    display: inline-block;
}
table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
table thead th,
table thead:hover th {
    text-align: left;
    background-color: rgba(2, 117, 216, 0.5);
}
table td {
    margin: 0;
}
th, td {
    padding: 5px 10px;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(2, 117, 216, 0.25);
}
.table-hover tbody tr:hover {
    background-color: rgba(2, 117, 216, 0.1);
}



/** HEADER **/
header {
    padding: 30px 40px;
    background-color: #FFFFFF;
}
.home-logo {
    height: 75px;
    width: 75px;
}
.home-logo img {
    height: 100%;
    width: 100%;
}
.profile-log {
    line-height: 75px;
    float: right;
}
.profile-log a {
    margin: 0 20px;
    color: #0275D8;
}
.profile-log a:hover {
    /* color: #FFFFFF; */
}
.profile-log a:last-of-type {
    margin-right: 0;
}



/** MENU **/
.menu {
    width: 100%;
    background-color: #0275D8;
}
.menu a,
.menu a:hover {
    color: #FFFFFF;
}
.menu-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 0;
}
.menu-nav li {
    line-height: 60px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    text-align: center;
}
.menu-nav li a {
    display: block;
    width: 100%;
}
.menu-nav li a:hover {
    background-color: #299CFF;
    text-decoration: none;
}



/** BODY **/
input.score {
    width: 35px;
    text-align: center;
}
td.date {
    text-align: center;
}
td.team1_name {
    text-align: right;
    padding-right: 10px;
}
td.team2_name {
    text-align: left;
    padding-left: 10px;
}
td.dash {
    padding: 0 5px;
}
.info {
    font-size: 14px;
    font-style: italic;
    color: #555555;
}
.home-table {
    display: inline-block;
    vertical-align: top;
    width: auto;
}
.home-table tr,
.score-table tr {
    cursor: pointer;
}
.home-message ul {
    margin-left: 40px;
    list-style-type: circle;
}
.table-bets .btn-primary:hover {
    background-color: transparent;
    color: #0275D8;
    border-color: #0275d8;
}
.table-bets-edit {
    width: auto;
    max-width: 100%;
    /* margin: 0 auto; */
}
.jumbotron {
    padding: 1.5rem 1rem;
}
.card-scores h1 {
    font-size: 1.9em;
}
.card-scores h2 {
    font-size: 1.2em;
}
.scores-chart-legend {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}
#scores-chart,
#scores-chart2 {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}
/* Profiler */
#codeigniter_profiler {
    position: absolute;
    opacity: 0.5;
    top: 10px;
    left: 10px;
    width: 25%;
    min-width: 300px;
    border: 1px solid #CCCCCC;
}
#codeigniter_profiler:hover {
    opacity: 1;
}
#profiler_close {
    cursor: pointer;
    color: #AAAAAA;
    position: absolute;
    top: 5px;
    right: 10px;
}
#profiler_close span {
    color: #FFFFFF;
    background-color: #CCCCCC;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}
/* Fin profiler */



/** FOOTER **/
footer {
    color: #888888;
    text-align: center;
    padding: 20px 0;
}
footer span {
    font-size: 14px;
}
footer a {
    font-size: 14px;
    margin: 0;
}



/** MEDIA QUERIES **/
/** HEADER **/
@media (max-width:544px) {
    header {
        padding: 10px;
    }
    .home-logo {
        display: block;
        margin: 0 auto;
    }

    .profile-log {
        line-height: 50px;
        float: none;
        text-align: center;
    }
}



/** BODY **/
@media (max-width:544px) {
    .main-container {
        padding: 10px;
    }
    .home-table {
        width: 100%;
    }
}