/*
https://www.giftofspeed.com/css-compressor/

multi-select
jquery.datetimepicker.min
bootstrap.4.0.0-alpha.4.min
tether-1.3.3.min
font-awesome.4.7.0.min
style
*/

/** RESET **/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: rgba(2,117,216,.07);
}
* {
    box-sizing: border-box;
}
section, main, header, aside, menu, footer {
    display: block;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}
a img {
    border: 0;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.7em;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1em; }
p {
    margin: 1em 0;
}



/** COMMON **/
body {
    /*background-image: url('../img/wwc_bg.png');*/
    background-size: cover;
}
.boxed {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.main-container {
    padding: 2.5rem;
    background-color: #ffffff;
}
p, ul, li {
    max-height: 999999px;
}
[disabled]{
    cursor: not-allowed;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
a {
    display: inline-block;
    color: inherit;
}
ul.horizontal li {
    display: inline-block;
}
table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
table thead th,
table thead:hover th {
    text-align: left;
    background-color: rgba(2, 117, 216, 0.7);
}
table td {
    margin: 0;
}
th, td {
    padding: 5px 10px;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(2, 117, 216, 0.1);
}
.table-hover tbody tr:hover {
    background-color: rgba(2, 117, 216, 0.25);
}
.overflow {
    overflow: auto;
}
.strong {
    font-weight: bold;
}
.font-bigger {
    font-size: 1.25rem;
}
.blockquote {
    font-size: 1rem;
    border-left: none;
    margin-bottom: 1.5rem;
}
.fa {
    font-weight: 100;
    color: #0275d8;
}
.btn.btn-outline-primary:hover .fa {
    color: #ffffff;
}



/** HEADER **/
header {
    padding: 30px 40px;
    background-color: #ffffff;
}
.home-logo {
    height: 75px;
    width: 75px;
}
.home-logo img {
    height: 100%;
    width: 100%;
}
.profile-log {
    line-height: 75px;
    float: right;
}
.profile-log a {
    margin: 0 10px;
    color: #0275d8;
}
.profile-log a#profile {
    font-size: 1.25rem;
}
.profile-log a#logout {
    font-size: 1.375rem;
}
.profile-log a:hover {
    /* color: #ffffff; */
}
.profile-log a:last-of-type {
    margin-right: 0;
}



/** MENU **/
.menu {
    width: 100%;
    background-color: #0275d8;
}
.menu a,
.menu a:hover {
    color: #ffffff;
}
.menu-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 0;
}
.menu-nav li {
    line-height: 60px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    text-align: center;
}
.menu-nav li a {
    display: block;
    width: 100%;
}
.menu-nav li a:hover {
    background-color: #299cff;
    text-decoration: none;
}
.coupe_monde_feminine_bandeau {
    width: 100%;
}
.fa-sign-out-alt {
    font-weight: 900;
}



/** BODY **/
input.score {
    width: 35px;
    text-align: center;
}
td.date {
    text-align: center;
    background-color: rgba(2, 117, 216, 0.25);
}
td.team1-name {
    text-align: right;
    padding-right: 10px;
}
td.team2-name {
    text-align: left;
    padding-left: 10px;
}
td.dash {
    padding: 0 5px;
}
.info {
    font-size: 0.875rem;
    font-style: italic;
    color: #555555;
}
.home-table {
    vertical-align: top;
    width: auto;
}
.message-table :not(thead) tr[data-href],
.home-table :not(thead) tr[data-href],
.score-table :not(thead) tr[data-href] {
    cursor: pointer;
}
.card {
    position: relative;
    display: inline-block;
    margin-bottom: .75rem;
    background-color: #ffffff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
    width: auto;
    min-width: 130px;
    padding: 5px 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    vertical-align: top;
}
.card.bettable {
    border: 2px solid #0275d8;
    padding: 4px 9px;
}
.table-bets .btn-primary:hover {
    background-color: transparent;
    color: #0275d8;
    border-color: #0275d8;
}
.table-bets-edit {
    width: auto;
    max-width: 100%;
}
.ms-container {
    width: 500px;
}
.jumbotron {
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}
.jumbotron ul {
    margin-left: 40px;
    list-style-type: circle;
}
.card-scores h1 {
    font-size: 1.9rem;
}
.card-scores h2 {
    font-size: 1.2rem;
}
.scores-chart-legend {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}
#scores-chart,
#scores-chart2 {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}
.form-bets-filter-legend,
.form-scores-filter-legend,
.form-players-filter-legend,
.form-bets-filter-link,
.form-scores-filter-link {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 0 0 .5rem 0;
}
.form-contact select,
.form-contact textarea,
.form-scores-filter select,
.form-bets-filter select {
    max-width: 400px;
}
.rank-1 {
    color: #daa520;
}
.rank-2 {
    color: #a8a8a8;
}
.rank-3 {
    color: #965a38;
}
.podium {
    text-align: center;
}
.podium td {
    height: 40px;
    font-size: larger;
    font-weight: bold;
}
.podium .border {
    border: 1px solid #000;
}
.quote {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: .3rem;
}
h5.info_date_match {
    margin-bottom: 1.5rem;
}
.bets_number {
    font-size: 1.375rem;
}

.logo {
    background-image: url('../img/teams_logos.png');
    display: inline-block;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}
.home-table .logo {
    height: 38px;
}
.table-bets-edit .logo {
    margin-top: 8px;
    height: 38px;
}
.no-logo {
    background-image: none;
    padding: 0;
    width: 0;
}
span.no-logo {
    display: none;
}
.fa-football-ball {
    font-weight: 900;
}
.admin-link {
    padding: 15px 20px;
}
/*Amiens SC*/
.logo_Amien{
    background-position:0 1px;
}
/*Angers SCO*/
.logo_Anger{
    background-position:0 -43px;
}
/*Girondins de Bordeaux*/
.logo_Borde{
    background-position:0 -89px;
}
/*SM Caen*/
.logo_Caen{
    background-position:0 -135px;
}
/*Dijon FCO*/
.logo_Dijon{
    background-position:0 -179px;
}
/*EA Guingamp*/
.logo_Guing{
    background-position:0 -225px;
}
/*LOSC*/
.logo_Lille{
    background-position:0 -270px;
}
/*Olympique Lyonnais*/
.logo_Lyon{
    background-position:0 -314px;
}
/*Olympique de Marseille*/
.logo_OM{
    background-position:0 -360px;
}
/*AS Monaco*/
.logo_Monac{
    background-position:0 -405px;
}
/*Montpellier Hérault SC*/
.logo_Montp{
    background-position:0 -450px;
}
/*FC Nantes*/
.logo_Nante{
    background-position:0 -495px;
}
/*OGC Nice*/
.logo_Nice{
    background-position:0 -540px;
}
/*Nîmes Olympique*/
.logo_Nîmes{
    background-position:0 -585px;
}
/*Paris Saint-Germain*/
.logo_PSG{
    background-position:0 -629px;
}
/*AS Saint-Etienne*/
.logo_ASSE{
    background-position:0 -767px;
}
/*Stade de Reims*/
.logo_Reims{
    background-position:0 -675px;
}
/*Stade Rennais FC*/
.logo_Renne{
    background-position:0 -719px;
}
/*RC Strasbourg Alsace*/
.logo_Stras{
    background-position:0 -810px;
}
/*Toulouse FC*/
.logo_Toul{
    background-position:0 -855px;
}
/*ESTAC Troyes*/
.logo_20{
    background-position:0 -810px;
}
/*Gazélec FC Ajaccio*/
.logo_gfca{
    background-position:0 -855px;
}
/*AC Ajaccio*/
.logo_aca{
    background-position:0 -900px;
}
/*AJ Auxerre*/
.logo_aja{
    background-position:0 -945px;
}
/*SC Bastia*/
.logo_scb{
    background-position:0 -990px;
}
/*FBBP 01*/
.logo_fcbp01{
    background-position:0 -1035px;
}
/*Stade Brestois 29*/
.logo_Brest{
    background-position:0 -1080px;
}
/*Châteauroux*/
.logo_lbc{
    background-position:0 -1125px;
}
/*Clermont Foot*/
.logo_cf{
    background-position:0 -1170px;
}
/*Havre AC*/
.logo_hac{
    background-position:0 -1215px;
}
/*RC Lens*/
.logo_rcl{
    background-position:0 -1260px;
}
/*FC Metz*/
.logo_Metz{
    background-position:0 -1395px;
}
/*FC Lorient*/
.logo_fcl{
    background-position:0 -1350px;
}
/*AS Nancy Lorraine*/
.logo_asnl{
    background-position:0 -1305px;
}
/*Chamois Niortais*/
.logo_cn{
    background-position:0 -1485px;
}
/*US Orléans*/
.logo_uso{
    background-position:0 -1530px;
}
/*Quevilly-Rouen Métropole*/
.logo_qrm{
    background-position:0 -1575px;
}
/*FC Sochaux-Montbéliard*/
.logo_fcsm{
    background-position:0 -1665px;
}
/*Tours FC*/
.logo_tfc{
    background-position:0 -1710px;
}
/*Valenciennes FC*/
.logo_vafc{
    background-position:0 -1755px;
}

/* Rules */
#rules h1 { font-size: 2.2em; }
#rules h2 { font-size: 1.9em; }
#rules h3 { font-size: 1.6em; }
#rules h4 { font-size: 1.3em; }
#rules h5 { font-size: 1em; }
#rules h6 { font-size: 0.7em; }
.rules-content {
    display: none;
}
.rules-content ul {
    margin-left: 40px;
    list-style-type: circle;
}
#rules_french.french {
    display: block;
}
#rules_english.english {
    display: block;
}
/* Fin rules */

/* Terms */
#terms_thanks {
    color: #0275d8;
    font-weight: bold;
}
/* Fin terms */

/* Donate */
.donate-content a {
    text-decoration: underline;
}
.donate-content {
    display: none;
}
.donate-content ul {
    margin-left: 40px;
    list-style-type: circle;
}
#donate_french.french {
    display: block;
}
#donate_english.english {
    display: block;
}
/* Fin donate */

/* Profiler */
#codeigniter-profiler {
    position: absolute;
    opacity: 0.5;
    top: 10px;
    left: 10px;
    width: 25%;
    min-width: 300px;
    border: 1px solid #cccccc;
}
#codeigniter-profiler:hover {
    opacity: 1;
}
#profiler-close {
    cursor: pointer;
    color: #aaaaaa;
    position: absolute;
    top: 5px;
    right: 10px;
}
#profiler-close span {
    color: #ffffff;
    background-color: #cccccc;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}
/* Fin profiler */



/** FOOTER **/
footer {
    color: #888888;
    text-align: center;
    padding: 0;
}
footer span {
    font-size: 0.875rem;
}
footer span:not(:last-of-type) {
    margin-right: 1.5rem;
}
footer a {
    font-size: 0.875rem;
    padding: 15px 0;
    margin: 0;
}



/** MEDIA QUERIES **/
/** HEADER **/
@media (max-width:543px) {
    header {
        padding: 10px;
    }
    .home-logo {
        display: block;
        margin: 0 auto;
    }

    .profile-log {
        line-height: 50px;
        float: none;
        text-align: center;
    }
}



/** BODY **/
@media (max-width:767px) {
    .main-container {
        padding: 10px;
    }
    .home-table {
        width: 100%;
    }
    .home-table.m-r-2 {
        margin-right: 0 !important;
    }
    .card {
        min-width: 125px;
        padding: 4px 6px;
    }
    .profile-log a {
        margin: 0 10px;
    }
    .table-bets-edit {
        width: 100%;
    }
}



/** FOOTER **/
@media (max-width:543px) {
    footer span,
    footer span:not(:last-of-type) {
        display: block;
        margin-right: 0;
    }
    footer a {
        padding:  5px 0;
    }
}
