/*
https://www.giftofspeed.com/css-compressor/

multi-select
jquery.datetimepicker.min
bootstrap.4.0.0-alpha.4.min
tether-1.3.3.min
font-awesome.4.7.0.min
style
*/

/** RESET **/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #ece8dc;
}
* {
    box-sizing: border-box;
}
section, main, header, aside, menu, footer {
    display: block;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}
a img {
    border: 0;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.7em;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1em; }
p {
    margin: 1em 0;
}



/** COMMON **/
.boxed {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.main-container {
    padding: 2.5rem;
    background-color: #ffffff;
}
p, ul, li {
    max-height: 999999px;
}
[disabled]{
    cursor: not-allowed;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
a {
    display: inline-block;
    color: inherit;
}
ul.horizontal li {
    display: inline-block;
}
table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
table thead th,
table thead:hover th {
    text-align: left;
    background-color: rgba(2, 117, 216, 0.7);
}
table td {
    margin: 0;
}
th, td {
    padding: 5px 10px;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(2, 117, 216, 0.1);
}
.table-hover tbody tr:hover {
    background-color: rgba(2, 117, 216, 0.25);
}
.overflow {
    overflow: auto;
}
.strong {
    font-weight: bold;
}
.font-bigger {
    font-size: 1.25rem;
}
.blockquote {
    font-size: 1rem;
    border-left: none;
    margin-bottom: 1.5rem;
}



/** HEADER **/
header {
    padding: 30px 40px;
    background-color: #ffffff;
}
.home-logo {
    height: 75px;
    width: 75px;
}
.home-logo img {
    height: 100%;
    width: 100%;
}
.profile-log {
    line-height: 75px;
    float: right;
}
.profile-log a {
    margin: 0 20px;
    color: #0275d8;
}
.profile-log a:hover {
    /* color: #ffffff; */
}
.profile-log a:last-of-type {
    margin-right: 0;
}



/** MENU **/
.menu {
    width: 100%;
    background-color: #0275d8;
}
.menu a,
.menu a:hover {
    color: #ffffff;
}
.menu-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 0;
}
.menu-nav li {
    line-height: 60px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    text-align: center;
}
.menu-nav li a {
    display: block;
    width: 100%;
}
.menu-nav li a:hover {
    background-color: #299cff;
    text-decoration: none;
}
.fa-sign-out {
    font-size: 1.375rem;
}



/** BODY **/
input.score {
    width: 35px;
    text-align: center;
}
td.date {
    text-align: center;
    background-color: rgba(2, 117, 216, 0.25);
}
td.team1-name {
    text-align: right;
    padding-right: 10px;
}
td.team2-name {
    text-align: left;
    padding-left: 10px;
}
td.dash {
    padding: 0 5px;
}
.info {
    font-size: 0.875rem;
    font-style: italic;
    color: #555555;
}
.home-table {
    display: inline-block;
    vertical-align: top;
    width: auto;
}
.message-table :not(thead) tr,
.home-table :not(thead) tr,
.score-table :not(thead) tr {
    cursor: pointer;
}
.card {
    position: relative;
    display: inline-block;
    margin-bottom: .75rem;
    background-color: #ffffff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
    width: auto;
    min-width: 130px;
    padding: 5px 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    vertical-align: top;
}
.card.bettable {
    border: 2px solid #0275d8;
    padding: 4px 9px;
}
.table-bets .btn-primary:hover {
    background-color: transparent;
    color: #0275d8;
    border-color: #0275d8;
}
.table-bets-edit {
    width: auto;
    max-width: 100%;
}
.ms-container {
    width: 500px;
}
.jumbotron {
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}
.jumbotron ul {
    margin-left: 40px;
    list-style-type: circle;
}
.card-scores h1 {
    font-size: 1.9rem;
}
.card-scores h2 {
    font-size: 1.2rem;
}
.scores-chart-legend {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}
#scores-chart,
#scores-chart2 {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}
.form-bets-filter-legend,
.form-scores-filter-legend,
.form-players-filter-legend,
.form-bets-filter-link,
.form-scores-filter-link {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 0 0 .5rem 0;
}
.form-contact select,
.form-contact textarea,
.form-scores-filter select,
.form-bets-filter select {
    max-width: 400px;
}
.rank-1 {
    color: #daa520;
}
.rank-2 {
    color: #a8a8a8;
}
.rank-3 {
    color: #965a38;
}
.podium {
    text-align: center;
}
.podium td {
    height: 40px;
    font-size: larger;
    font-weight: bold;
}
.podium .border {
    border: 1px solid #000;
}
.quote {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: .3rem;
}
h5.info_date_match {
    margin-bottom: 1.5rem;
}
.bets_number {
    font-size: 1.375rem;
}
/* Profiler */
#codeigniter-profiler {
    position: absolute;
    opacity: 0.5;
    top: 10px;
    left: 10px;
    width: 25%;
    min-width: 300px;
    border: 1px solid #cccccc;
}
#codeigniter-profiler:hover {
    opacity: 1;
}
#profiler-close {
    cursor: pointer;
    color: #aaaaaa;
    position: absolute;
    top: 5px;
    right: 10px;
}
#profiler-close span {
    color: #ffffff;
    background-color: #cccccc;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}
/* Fin profiler */



/** FOOTER **/
footer {
    color: #888888;
    text-align: center;
    padding: 20px 0;
}
footer span {
    font-size: 0.875rem;
}
footer a {
    font-size: 0.875rem;
    margin: 0;
}



/** MEDIA QUERIES **/
/** HEADER **/
@media (max-width:543px) {
    header {
        padding: 10px;
    }
    .home-logo {
        display: block;
        margin: 0 auto;
    }

    .profile-log {
        line-height: 50px;
        float: none;
        text-align: center;
    }
}



/** BODY **/
@media (max-width:767px) {
    .main-container {
        padding: 10px;
    }
    .home-table {
        width: 100%;
    }
    .home-table.m-r-2 {
        margin-right: 0 !important;
    }
    .card {
        min-width: 125px;
        padding: 4px 6px;
    }
    .profile-log a {
        margin: 0 10px;
    }
    .table-bets-edit {
        width: 100%;
    }
}